/* Fonts */
@font-face {
  font-family: 'Roboto Mono';
  src: url('/assets/fonts/RobotoMono-Regular.ttf');
}

@mixin transitions($time) {
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -ms-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}

@mixin shadow() {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.01), 0 1px 10px 0 rgba(0, 0, 0, 0.01), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.01), 0 1px 10px 0 rgba(0, 0, 0, 0.01), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
}

@mixin shadow-2() {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

@mixin round($radius) {
  border-radius: $radius;
}

body, html {
  background-color: #FBFBFB;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.container {
  position: relative;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 48em) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 64em) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 80em) {
  .container {
    width: 1170px;
  }
}

@media screen and (max-width: 768px) {
  .hidden-xs-down {
    display: none !important;
  }
}
@media screen and (min-width: 769px) {
  .hidden-sm-up {
    display: none !important;
  }
}

a {
  text-decoration: none;
}

.sidebar-shifted {
  @include transitions(200ms);
}

.no-text-transform {
  text-transform: none;
}

.navbar {
  @extend .sidebar-shifted;

  position: fixed;
  top: 0;
  left: 0;
  height: 49px;
  width: 100%;
  z-index: 1;
  background-color: #FBFBFB;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.home-menu {
  padding: 1em;
}

.content-container {
  position: relative;
}

.margin-bottom-small {
  margin-bottom: 10px;
}

.card {
  @include shadow();
  @include round(3px);

  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  position: relative;
  padding: 10px 15px;
  margin-bottom: 10px;

  div {
    @extend .ellipsis;
  }

  .main-info {
    margin-bottom: 10px;
  }
  
  .info-label {
    font-weight: bold;
  }
}

.mobile-sub-header {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  padding: 0 15px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  margin-bottom: 10px;
  background: linear-gradient(to right, gold, aquamarine, crimson, orchid, blue);
  background-size: 200% 200%;
  animation: rainbow 2s ease-in-out infinite;
  background-clip: text;
  -webkit-background-clip:text;
  color:rgba(0, 0, 0, 0);
}

.menu-icon {
  float: right;
  line-height: 20px;
  vertical-align: middle;
}

.app-title {
  color: #333333;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0;
}

.side-menu-touch-detector {
  position: fixed;
  top: 0;
  left: -300px;
  height: 100vh;
  width: 100vw;
  z-index: 3;
  display: none;
}

.side-menu {
  @include transitions(200ms);

  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100vh;
  z-index: 1;
  background-color: #FBFBFB;
}

.side-menu-container.toggled {
  .side-menu {
    right: 0;
  }
}

ul {
  padding: 0;
  list-style: none;
}

.side-menu li {
  line-height: 44px;
}

.side-menu li a {
  font-size: 13px;
  line-height: 44px;
  height: 44px;
  padding: 0 30px;
  color: rgba(0,0,0,0.87);
  display: block;
  font-weight: 500;
  text-transform: uppercase;
}

.main-container {
  @include transitions(200ms);

  min-height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

.main-container.toggled {
  @include shadow-2();
  left: -300px;

  .side-menu-touch-detector {
    display: block;
  }

  .sidebar-shifted {
    left: -300px;
  }
}

@keyframes rainbow { 
  0%{
    background-position: left;
  }
  50%{
    background-position:right;
  }
  100%{
    background-position:left;
  }
}

.mobile-view-header {
  @extend .sidebar-shifted;

  font-size: 12px;
  background-color: #FBFBFB;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  width: calc(100% - 30px);
  margin-bottom: 10px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  height: 29px;
  line-height: 29px;
  padding: 0 15px;
}

.mobile-view-container {
  padding-top: 90px;
  position: relative;
  overflow-y: scroll;
}

.view-header-small {
  @extend .ellipsis;

  color: #949494;
  padding-bottom: 10px;

  .header-title {
    font-weight: bold;
  }
}

.blue-link {
  color: #6482FD;
}

.shadow {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.01), 0 1px 10px 0 rgba(0, 0, 0, 0.01), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.01), 0 1px 10px 0 rgba(0, 0, 0, 0.01), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
}

$border-radius-default: 3px;

.break-word {
  overflow-wrap: break-word;
}

.ellipsis {
  overflow: hidden;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

.rainbow-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  opacity: 0.7;
  background: linear-gradient(aquamarine, gold, orchid, crimson, blue);
  border-top-left-radius: $border-radius-default;
  border-bottom-left-radius: $border-radius-default;
}

table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0px 10px;
  font-family: 'Roboto Mono', monospace;

  .table-header {
    background-color: #F1F5FF;

    th {
      padding: 5px 0px;
      text-transform: uppercase;
    }
  }

  .table-row {
    @extend .shadow;

    border-radius: $border-radius-default;

    td {
      @extend .ellipsis;

      background-color: #FFFFFF;
      text-align: center;
      padding: 25px 15px;
      position: relative;
      max-width: 100px;

      &:first-child {
        border-top-left-radius: $border-radius-default;
        border-bottom-left-radius: $border-radius-default;
      }

      &:last-child {
        border-top-right-radius: $border-radius-default;
        border-bottom-right-radius: $border-radius-default;
      }
    }
  }
}

.pagination {
  font-family: 'Roboto Mono', monospace;
  background-color: #F1F5FF;
  padding: 5px;
  display: inline-block;

  a {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;

    &.disabled {
      display: none;
    }
  }

  div {
    display: inline-block;
  }
}

@media screen and (max-width: 35.49em) {
  .pure-u-0 {
    display: none;
  }
}

.single-info {
  @extend .shadow;
  position: relative;
  padding: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;

  .info-block {
    height: 100%;
    min-width: 150px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  .info-data {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
  }

  .info-title {
    color: #939393;
  }
}

.vertical-divider {
  height: 100%;
  width: 1px;
  background-color: #d4d4d4;
  display: inline-block;
}
