/* Fonts */
@font-face {
  font-family: 'Roboto Mono';
  src: url('/assets/fonts/RobotoMono-Regular.ttf');
}


/* Animations */
@keyframes rainbow { 
  0%{
    background-position: left;
  }
  50%{
    background-position:right;
  }
  100%{
    background-position:left;
  }
}


/* Mixins */
@mixin transitions($time) {
  -webkit-transition: all $time ease;
  -moz-transition: all $time ease;
  -ms-transition: all $time ease;
  -o-transition: all $time ease;
  transition: all $time ease;
}

@mixin round($radius) {
  border-radius: $radius;
}


/* Utilities */
.shadow-1 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.01), 0 1px 10px 0 rgba(0, 0, 0, 0.01), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.01), 0 1px 10px 0 rgba(0, 0, 0, 0.01), 0 2px 4px -1px rgba(0, 0, 0, 0.1);
}

.shadow-2 {
  -webkit-box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.no-text-transform {
  text-transform: none;
}

.break-word {
  overflow-wrap: break-word;
}

.ellipsis {
  overflow: hidden;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

.rainbow-text {
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(to right, gold, aquamarine, crimson, orchid, blue);
  background-size: 200% 200%;

  animation: rainbow 2s ease-in-out infinite;
  transition: color .2s ease-in-out;

  background-clip: text;
  -webkit-background-clip: text;
}

.shift-with-sidebar {
  @include transitions(200ms);
}

@media screen and (max-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }
}
@media screen and (min-width: 769px) {
  .hidden-desktop {
    display: none !important;
  }
}

.blue-link {
  color: #6482FD;
}


/* Components */
.container {
  position: relative;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 48em) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 64em) {
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 80em) {
  .container {
    width: 1170px;
  }
}

.card {
  @include round(3px);
  @extend .shadow-1;

  font-family: 'Roboto Mono', monospace;
  font-size: 12px;

  position: relative;

  padding: 10px 15px;
  margin-bottom: 10px;

  div {
    @extend .ellipsis;
  }

  .main-info {
    margin-bottom: 10px;
  }
  
  .info-label {
    font-weight: bold;
  }
}

.rainbow-left {
  opacity: 0.7;
  background: linear-gradient(aquamarine, gold, orchid, crimson, blue);

  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
}


/* Global Styles */
body, html {
  background-color: #FBFBFB;

  overflow-x: hidden;
  overflow-y: auto;

  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;

  &:hover,
  &:focus {
    @extend .rainbow-text;
  }
}

ul {
  list-style: none;

  padding: 0;
  margin: 0;
}


/* Navbar */
.app-title {
  color: #333333;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0;
}

.navbar {
  @extend .shift-with-sidebar;

  background-color: #FBFBFB;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  position: fixed;
  top: 0;
  left: 0;
  height: 49px;
  width: 100%;

  z-index: 1;
}

.home-menu {
  padding: 1em;
}


/* Sidebar */
.side-menu-touch-detector {
  position: fixed;
  top: 0;
  left: -300px;
  height: 100vh;
  width: 100vw;

  z-index: 3;
  display: none;
}

.side-menu {
  @extend .shift-with-sidebar;

  background-color: #FBFBFB;

  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  height: 100vh;

  z-index: 1;
}

.side-menu-container.toggled {
  .side-menu {
    right: 0;
  }
}

.side-menu {
  li {
    line-height: 44px;
    a {
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;

      color: rgba(0,0,0,0.87);

      line-height: 44px;
      height: 44px;

      padding: 0 30px;
      display: block;
    }
  }
}


/* Mobile */
.hamburger-icon {
  float: right;
  line-height: 20px;
  vertical-align: middle;
}

.mobile-view-header {
  @extend .shift-with-sidebar;

  font-size: 12px;
  text-transform: uppercase;

  background-color: #FBFBFB;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  position: fixed;
  top: 50px;
  left: 0;
  height: 29px;
  width: calc(100% - 30px);
  line-height: 29px;

  padding: 0 15px;
  margin-bottom: 10px;

  z-index: 1;
}

.mobile-sub-header {
  @extend .rainbow-text;

  font-size: 12px;
  text-transform: uppercase;

  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  height: 28px;
  line-height: 28px;

  padding: 0 15px;
  margin-bottom: 10px;
}

.mobile-view-container {
  position: relative;
  padding-top: 90px;
}


/* Desktop */
.main-menu {
  float: right;
  margin: 0;

  li {
    display: inline-block;
    margin-right: 10px;
    text-transform: uppercase;
    font-size: 12px;
  }
}

.main-container {
  @extend .shift-with-sidebar;

  position: relative;
  min-height: 100vh;
  top: 0;
  left: 0;

  z-index: 2;

  &.toggled {
    @extend .shadow-2;
    left: -300px;

    .side-menu-touch-detector {
      display: block;
    }

    .shift-with-sidebar {
      left: -300px;
    }
  }
}
